@font-face {
  font-family: 'Helvetica Neue';
  src: url(../Assets/fonts/Helvetica-Neue-LT-Com-55-Roman.ttf);
}

:root {
  --color-dark: #707070;
  --text-white: #ffffff;
  --text-grey: #888888;
  --shadow: #00000029;
  --bg-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family:'Helvetica Neue', Helvetica, sans-serif;
  color: var(--text-grey);
  
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: 100vw;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.section-body {
  position: relative;
  width: 100%;
}

.container {
  max-width: 992px;
  margin: 0px auto;
}
/* ----------------------------------------------------------------- header */
header {
  height: 398px;
  padding: 16px;
}

header div.fundo-header {
  position: absolute;
  z-index: -1;
  top: 0rem;
  right: 0rem;
  width: 100%;
  height: 42rem;
  background: var(--color-dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

header div.section-header {
  width: 100%;
  padding-top: 5.0rem;
}

header div.section-header p:first-child {
  font: 2.0rem/2.4rem "Helvetica Neue";
  color: var(--text-white);
}

header div.section-header h2 {
  font: bold clamp(2.9rem, 10vw, 4.0rem)/5rem "Helvetica Neue";
  color: var(--text-white);
  margin-bottom: 3rem;
}

header div.section-header p:last-child {
  font: 1.3rem/1.5rem "Helvetica Neue";
  color: var(--text-white);
}

header nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.0rem;
  margin-top: 5.0rem;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 35.0rem;
}

header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 1.0rem;
  background: white;
  width: clamp(13.0rem, 12vw, 16.0rem);
  height: 4.0rem;
  border-radius: .4rem;
  box-shadow: 0rem .1rem .6rem var(--shadow);
  border: .2rem solid var(--color-dark);

  font: 1.3rem/1.6rem "Helvetica Neue";
}

header nav a:hover {
  background: var(--color-dark);
  color: white;
}
/* ---------------------------------------------------------- .section-help */
.section-help {
  padding: 1.6rem;
  margin-bottom: 2rem;
}

.section-help article {
  max-width: 52.0rem;
  margin: 0rem auto 3.0rem;
}

.section-help article h3 {
  font: 1.7rem/2.4rem "Helvetica Neue";
  margin-bottom: 1.7rem;
}

.section-help article p {
  font: 1.2rem/1.8rem "Helvetica Neue";
}

.section-help form {
  max-width: 39.0rem;
  margin: 0rem auto;
}

.section-help form label {
  font: 1.2rem/1.4rem "Helvetica Neue";
}

.name-help,
.email-help,
.cpf-help {
  margin-bottom: 2rem;
  color: red;
}

.section-help form input {
  min-width: 100%;
  height: 3.0rem;
  margin-top: .7rem;
  padding: 0 1rem;
}

.section-help form div.genero {
  font: 1.2rem/1.4rem "Helvetica Neue";
}

#masc,
#fem {
  min-width: 0rem;
  width: 1.4rem;
  height: 1.4rem;
  margin-right: .5rem;
}

#fem {
  margin-left: 4.0rem;
}

.section-help form input.btn {
  height: 3.9rem;
  background: white;
  border: .1rem solid var(--color-dark);
  border-radius: .4rem;
  cursor: pointer;
}

.section-help form input.btn:hover {
  background: var(--color-dark);
  color: white;
}
/* ------------------------------------------------------ .section-products */
.section-products {
  padding: 1.0rem;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 1.8rem/1.6rem "Helvetica Neue";
  position: relative;
  margin-bottom: .8rem;
}

.subtitle hr {
  left: 0rem;
  width: 100%;
  z-index: -1;
  position: absolute;
}

.subtitle h3 {
  background: white;
  padding: 0rem 1.0rem;
}

.section-products .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem auto 3.0rem;
}

.section-products .cards .card {
  padding: 1.5rem 0rem;
  display: flex;
  min-width: 27.0rem;
  max-width: 34.0rem;
  margin: 0rem auto;
  flex: 1 1 20.0rem;
}

.section-products .cards .card .image {
  width: 13.5rem;
  height: 12.9rem;
  border: .1rem solid var(--color-dark);
  margin-right: 1.2rem;
  padding: .2rem;
  text-align: center;
}

.section-products .cards .card .image img {
  height: 98%;
}

.section-products .cards .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 14.7rem);
}

.section-products .cards .card .info span {
  font: 1.4rem/1.6rem "Helvetica Neue";
}

.section-products .cards .card .info p:nth-of-type(1) {
  display: none;
  font: 1.2rem/1.6rem "Helvetica Neue";
}

.section-products .cards .card .info p:nth-of-type(2),
.section-products .cards .card .info p:nth-of-type(4) {
  font: 1.2rem/1.6rem "Helvetica Neue";
}

.section-products .cards .card .info p:nth-of-type(3) {
  font: bold 1.6rem/1.6rem "Helvetica Neue";
}

.section-products .cards .card .info .btn {
  height: 3.0rem;
  background: white;
  border: .1rem solid var(--color-dark);
  border-radius: .4rem;
  cursor: pointer;
}

.section-products .cards .card .info .btn:hover {
  background: var(--color-dark);
  color: white;
}

.section-products .more {
  text-align: center;
  margin-bottom: 13.0rem;
}

.section-products .more input {
  width: 26.0rem;
  height: 3.9rem;
  background: white;
  border: .1rem solid var(--color-dark);
  border-radius: .4rem;
  cursor: pointer;
}

.section-products .more input:hover {
  background: var(--color-dark);
  color: white;
}
/* --------------------------------------------------------- .section-share */
.section-share {
  padding: 1.0rem;
}

.section-share form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-share form p {
  font: 1.4rem/1.6rem "Helvetica Neue";
  text-align: center;
  margin: 2.8rem 0rem;
}

.section-share form .field-share {
  width: 100%;
  max-width: 44.0rem;
  font: 1.2rem/1.4rem "Helvetica Neue";
}

.section-share form .field-share input {
  width: 100%;
  height: 3.0rem;
  margin-top: .7rem;
  outline: none;
  padding-left: 1.0rem;
} 

.section-share form .field-share .name,
.section-share form .field-share .email {
  margin-bottom: 2.0rem;
}

span.error {
  margin-top: .1rem;
  display: flex;
  padding: 0rem;
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  font-weight: bold;
}

span.error.active {
  border: .1rem solid red;
  padding: 0.4rem;
}

.section-share form input.btn {
  height: 3.5rem;
  width: 26.0rem;
  background: white;
  border: .1rem solid var(--color-dark);
  border-radius: .4rem;
  margin-top: 2.2rem;
  margin-bottom: 8.5rem;
  cursor: pointer;
}

.section-share form input.btn:hover {
  background: var(--color-dark);
  color: white;
}
/* ----------------------------------------------------------------- footer */
footer {
  text-align: center;
  height: 15.0rem;
  padding: 5.0rem 2.0rem;
}

footer p {
  font: 1.2rem/1.8rem "Helvetica Neue";
  color: var(--text-white);
}

div.back-footer {
  position: absolute;
  z-index: -1;
  bottom: 0rem;
  right: 0rem;
  width: 100%;
  height: 18rem;
  background: var(--color-dark);
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}
/* ------------------------------------------------------------- Responsive */
@media (min-width: 540px) {
  header div.section-header {
    text-align: center;
  }

  .section-products .cards {
    margin-top: 3.5rem;
  }
  
  .section-products .cards .card {
    padding: 0rem 1.0rem;
    margin: 1.5rem auto;
    flex-direction: column;
    min-width: 21.0rem;
    max-width: 22.0rem;
    height: 35.0rem;
  }
  
  .section-products .cards .card .image {
    width: 100%;
    height: 15.0rem;
    margin-right: 0rem;
    margin-bottom: 1.7rem;
  }
  
  .section-products .cards .card .info {
    width: 100%;
    height: 19.46rem;
  }

  .section-products .cards .card .info p:nth-of-type(1) {
    display: initial;
  }

  .section-share form .name {
    min-width: 34.0rem;
  }
  
  .section-share form .email {
    min-width: 340px;
  }
}

@media (min-width: 768px) {
  header nav {
    grid-template-columns: repeat(4, 1fr);
    max-width: 80%;
  }

  .section-help {
    display: flex;
  }
  
  .section-help article {
    min-width: 37.0rem;
    margin: 0rem 3rem 0rem 1.0rem;
  }

  .section-help form {
    min-width: 30.0rem;
    width: 100%;
    margin: 0rem 1.0rem 0rem 2.0rem;
  }

  .section-share form .field-share {
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .section-share form .name {
    margin-right: 2.0rem;
  }
  
  .section-share form .email {
    margin-left: 2.0rem;
  }
}