@import url("");

:root {
  --color-dark: #707070;
  --text-white: #ffffff;
  --text-grey: #888888;
  --shadow: #00000029;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
}

header {
  margin: 0 auto;
  max-width: 992px;
  height: 398px;
  padding: 16px;
}

header div.fundo-header {
  box-sizing: initial;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  border-top: 270px solid var(--color-dark);
  border-right: 100vw solid var(--color-dark);
  border-bottom: 118px solid transparent;
}

header div.section-header {
  width: 100%;
  padding-top: 50px;
  color: var(--text-white);
}

header div.section-header p:first-child {
  font: normal normal normal 20px/24px Helvetica;
}

header div.section-header h2 {
  font: normal normal bold 30px/49px Helvetica;
}

header div.section-header p:last-child {
  font: normal normal normal 13px/15px Helvetica;
}

header nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 4rem;
  align-items: center;
}

header nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  color: var(--text-grey);
  background: white;
  width: 120px;
  height: 40px;
  border-radius: 4px;
  box-shadow: 0px 1px 6px var(--shadow);
  border: 2px solid var(--color-dark);

  font: normal normal normal 13px/16px Helvetica;
}
/* --------------------------------------------------- main .section-help */
.section-help {
  padding: 16px;
  margin: 0 auto;
  max-width: 992px;
  color: var(--text-grey);
}

.section-help article {
  max-width: 520px;
  margin: 0px auto 30px;
}

.section-help article h3 {
  font: normal normal normal 17px/24px Helvetica;
  margin-bottom: 17px;
}

.section-help article p {
  font: normal normal normal 12px/18px Helvetica;
}

.section-help form {
  max-width: 390px;
  margin: auto;
}

.section-help form label {
  font: normal normal normal 12px/14px Helvetica;
}

.section-help form input {
  min-width: 100%;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 7px;
}

.section-help form div.genero {
  font: normal normal normal 12px/14px Helvetica;
}

#masc,
#fem {
  min-width: 0px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

#fem {
  margin-left: 40px;
}

.section-help form input.btn {
  height: 39px;
  color: var(--text-grey);
  background: white;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}
/* --------------------------------------------------- main .section-products */
.section-products {
  max-width: 992px;
  margin: 0px auto;
  padding: 10px;
  color: var(--text-grey);
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal bold 18px/16px Helvetica;
  /* background: transparent; */
  position: relative;
  margin-bottom: 8px;
}

.subtitle hr {
  left: -10px;
  width: 100vw;
  z-index: -1;
  position: absolute;
}

.subtitle h3 {
  background: white;
  padding: 0px 10px;
}

.section-products .cards {
  margin-bottom: 30px;
}

.section-products .cards .card {
  padding: 15px 0px;
  display: flex;
  max-width: 350px;
  margin: 0px auto;
}

.section-products .cards .card .image {
  width: 135px;
  height: 129px;
  border: 1px solid var(--color-dark);
  margin-right: 12px;
  padding: 2px;
  text-align: center;
}

.section-products .cards .card .image img {
  height: 98%;
}

.section-products .cards .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 147px);
}

.section-products .cards .card .info span {
  font: normal normal normal 14px/16px Helvetica;
}

.section-products .cards .card .info p:nth-of-type(1) {
  display: none;
}

.section-products .cards .card .info p:nth-of-type(2),
.section-products .cards .card .info p:nth-of-type(4) {
  font: normal normal normal 12px/16px Helvetica;
}

.section-products .cards .card .info p:nth-of-type(3) {
  font: normal normal bold 16px/16px Helvetica;
}

.section-products .cards .card .info .btn {
  height: 30px;
  background: white;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
  color: var(--text-grey);
}

.section-products .more {
  text-align: center;
  margin-bottom: 130px;
}

.section-products .more input {
  width: 260px;
  height: 39px;
  background: white;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
  color: var(--text-grey);
}
/* ----------------------------------------------------- main .section-share */
.section-share {
  max-width: 992px;
  margin: 0px auto;
  padding: 10px;
  color: var(--text-grey);
}

.section-share form {
  max-width: 390px;
  margin: auto;
}

.section-share form p {
  font: normal normal normal 14px/16px Helvetica;
  text-align: center;
  margin: 28px 0px;
}

.section-share form label {
  font: normal normal normal 12px/14px Helvetica;
  color: var(--text-grey);
}

.section-share form input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 7px;
} 

.section-share form input.btn {
  height: 39px;
  width: 260px;
  color: var(--text-grey);
  background: white;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}

.section-share form .button {
  text-align: center;
  margin-bottom: 85px;
  margin-top: 22px;
}
/* ----------------------------------------------------------- footer */
footer {
  position: relative;
  text-align: center;
  color: var(--text-white);
  height: 150px;
  padding: 50px 20px;
}

footer p {
  font: normal normal normal 12px/18px Helvetica;
}

footer div.back-footer {
  box-sizing: initial;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
  border-top:  50px solid transparent; 
  border-right: 100vw solid var(--color-dark);
  border-bottom: 120px solid var(--color-dark);
}